.fixed-tokens-theme {
  --base-primary-red: #FF0A3C;
  --base-primary-blue: #002873;
  --base-primary-white: #F6F6F6;
  --button-border-radius-priamry: 100px;
  --button-padding-primary: 16px 24px;
  --button-primary-color: #FFFFFF;
  --button-primary-background-color: #FF0A3C;
  --button-primary-border-color: #F6F6F6;
  --button-primary-border-width: 1px;
  --button-primary-border-style: solid;
  --button-typography-primary-fontFamily: Roboto;
  --button-typography-primary-fontSize: 16px;
  --button-typography-primary-fontWeight: 500;
  --button-import-color: #002873;
  --button-import-background-color: #FFB90014;
  --button-import-border-color: #FFB900;
  --button-import-border-width: 1px;
  --button-import-border-style: solid;
  --button-secondary-color: #FF0A3C;
  --button-secondary-background-color: #FFFFFF;
  --button-secondary-border-width: 0px;
  --button-secondary-border-style: solid;
  --button-secondary-border-color: #ffffff;
  --button-tertiary-border-color: #002873;
  --button-tertiary-border-width: 1px;
  --button-tertiary-border-style: solid;
  --button-tertiary-color: #002873;
  --button-tertiary-background-color: #fffff;
  --card-padding-primary: 16px;
  --card-primary-image-height: 160.88px;
  --card-primary-height: 308.88px;
  --card-primary-width: 286.01;
  --card-primary-border-radius: 12px;
  --card-primary-border-width: 1px;
  --card-primary-border-color: #E2E1E1;
  --card-secondary-height: 206px;
  --card-secondary-width: 224px;
  --card-secondary-image-height: 126px;
  --accordion-padding: 24px;
  --accordion-gap: 24px;
  --accordion-border-radius: 12px;
  --accordion-backgroundcolor: #FAFAFA;
  --accordion-title-color: #333;
  --accordion-subtitle-color: rgba(51,51,51,0.5);
  --accordion-primary-border-color: #f6f3f6;
  --accordion-primary-border-width: 1px;
  --group-button-parent-backgroundcolor: #f6f6f6;
  --group-button-parent-border-radius: 8px;
  --group-button-parent-padding: 4px;
  --group-button-parent-border-color: rgba(15,99,227,0.4);
  --group-button-parent-border-width: 1px;
  --group-button-parent-border-style: solid;
  --group-button-selected-button-background-color: #0F63E3;
  --group-button-selected-button-color: #ffffff;
  --group-button-buttons: 4px;
  --group-button-button-padding: 4px 8px;
  --group-button-not-selected-button-color: #002873;
  --group-button-not-selected-button-opacity: 100%;
  --group-button-typography-lineHeight: 20px;
  --group-button-typography-fontWeight: 400;
  --group-button-typography-fontFamily: Roboto;
  --list-title-color: rgba(51,51,51,0.8);
  --list-subtitle-color: rgba(51,51,51,0.5);
}